.carousel {
    position: relative;
    height: 500px;
    width: 80%;
    margin: 0 auto;
}

.carousel__images {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carousel__track-container {
    position: relative;
    height: 100%;
    overflow: hidden;
} 

.carousel__track {
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
    height: 100%;
    transition: transform 250ms ease-in;
}

.carousel__slide {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

.carousel__button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    border: 0;
    cursor: pointer;
}

.carousel__button--left {
    left: -40px;
}

.carousel__button--right {
    right: -40px;
}

.carousel__button img {
    width: 12px;
}

.carousel__nav {
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding: 10px 0;
    /* background-color: pink; */
}

.carousel__indicator {
    background-color: rgba(0, 0, 0, .3);
    border: 0;
    border-radius: 50%;
    padding: 5px;
    cursor: pointer;
}

.carousel__indicator.current--slide {
    background-color: rgba(0, 0, 0, .75);
}
.is-hidden {
    display: none;
}



